@font-face {
    font-family: 'Noto Serif SC';
	src: local('NotoSerifSC'), local('Noto Serif SC');
	unicode-range: U+0000-FFFF;
}

body {
    font-family: 'Noto Serif SC' !important;
}

/* buttons and inputs */
#username, #password, #buttons {
    font-family: 'Noto Serif SC' !important;
}

#logins {
    position: relative;
    margin: auto;
    text-align: left;
    width: 28%;
    display: none;
    color: #000044;
    font-family: 'Noto Serif SC';
}

#user_end, #pswd_end {
    position: absolute;
    width: auto;
    right: -45%;
    top: 0%;
    color: #dd0000;
    text-align: left;
    font-family: 'Noto Serif SC';
}